[submodule "vendor/tree-sitter-vhdl"]
	path = vendor/tree-sitter-vhdl
	url = https://github.com/alemuller/tree-sitter-vhdl.git
[submodule "vendor/tree-sitter-verilog"]
	path = vendor/tree-sitter-verilog
	url = https://github.com/tree-sitter/tree-sitter-verilog
[submodule "vendor/tree-sitter-tcl"]
	path = vendor/tree-sitter-tcl
	url = https://github.com/SKalt/tree-sitter-tcl.git
